/* line 4, ../scss/schools_form.scss */
[id^=schools-create-school-form][data-mode=create],
[id^=schools-entity-form][data-mode=create] {
  width: 180px;
  background: #EDEDED;
  padding: 16px;
  box-sizing: border-box;
}
/* line 11, ../scss/schools_form.scss */
[id^=schools-create-school-form][data-mode=create] label > span.form-required,
[id^=schools-entity-form][data-mode=create] label > span.form-required {
  display: none;
}
/* line 15, ../scss/schools_form.scss */
[id^=schools-create-school-form][data-mode=create] div.form-item.form-type-textfield,
[id^=schools-entity-form][data-mode=create] div.form-item.form-type-textfield {
  margin: 18px 0 0;
}
/* line 19, ../scss/schools_form.scss */
[id^=schools-create-school-form][data-mode=create] input,
[id^=schools-entity-form][data-mode=create] input {
  border: none;
}
/* line 21, ../scss/schools_form.scss */
[id^=schools-create-school-form][data-mode=create] input:focus,
[id^=schools-entity-form][data-mode=create] input:focus {
  outline: none;
}
/* line 26, ../scss/schools_form.scss */
[id^=schools-create-school-form][data-mode=create] input[type=submit][id^=edit-submit],
[id^=schools-entity-form][data-mode=create] input[type=submit][id^=edit-submit] {
  width: 100%;
  background: #CCC;
  border-radius: 6px;
  margin: 18px 0 0;
}
/* line 32, ../scss/schools_form.scss */
[id^=schools-create-school-form][data-mode=create] input.form-text,
[id^=schools-entity-form][data-mode=create] input.form-text {
  width: 100%;
  background-color: #E4E4E4;
  box-sizing: border-box;
}
/* line 38, ../scss/schools_form.scss */
[id^=schools-create-school-form][data-mode=create] h2,
[id^=schools-entity-form][data-mode=create] h2 {
  margin: 0;
  font-weight: bold;
  font-size: 15px !important;
}
/* line 47, ../scss/schools_form.scss */
[id^=schools-create-school-form][data-mode=edit] > div,
[id^=schools-entity-form][data-mode=edit] > div {
  display: grid;
  grid-template-areas: "title actions" "address address" "zip zip" "rating rating";
  grid-template-columns: 426px 211px;
}
/* line 52, ../scss/schools_form.scss */
[id^=schools-create-school-form][data-mode=edit] > div h2,
[id^=schools-entity-form][data-mode=edit] > div h2 {
  grid-area: title;
  margin-top: 0;
  font-size: 23px !important;
}
/* line 58, ../scss/schools_form.scss */
[id^=schools-create-school-form][data-mode=edit] > div .form-item-address,
[id^=schools-entity-form][data-mode=edit] > div .form-item-address {
  grid-area: address;
  margin-top: 8px;
}
/* line 63, ../scss/schools_form.scss */
[id^=schools-create-school-form][data-mode=edit] > div .school-rating,
[id^=schools-entity-form][data-mode=edit] > div .school-rating {
  grid-area: rating;
}
/* line 65, ../scss/schools_form.scss */
[id^=schools-create-school-form][data-mode=edit] > div .school-rating__stars,
[id^=schools-entity-form][data-mode=edit] > div .school-rating__stars {
  background-color: #EDEDED;
  color: #8E8E8E;
  height: 44px;
  box-sizing: border-box;
  width: 559px;
  display: flex;
  align-items: center;
  padding-left: 8px;
}
/* line 77, ../scss/schools_form.scss */
[id^=schools-create-school-form][data-mode=edit] > div #schools-form-actions,
[id^=schools-entity-form][data-mode=edit] > div #schools-form-actions {
  grid-area: actions;
  display: flex;
  justify-content: flex-end;
  margin: 0 -6px;
}
/* line 82, ../scss/schools_form.scss */
[id^=schools-create-school-form][data-mode=edit] > div #schools-form-actions .ajax-progress-throbber,
[id^=schools-entity-form][data-mode=edit] > div #schools-form-actions .ajax-progress-throbber {
  display: none;
}
/* line 87, ../scss/schools_form.scss */
[id^=schools-create-school-form][data-mode=edit] > div #schools-form-actions > input,
[id^=schools-entity-form][data-mode=edit] > div #schools-form-actions > input {
  margin: 0 6px;
  background: unset;
  box-sizing: border-box;
  width: 94px;
  height: 33px;
  font-weight: bold;
  border-radius: 5px;
  -moz-appearance: none;
  -webkit-appearance: none;
  font-size: 18px;
  text-align: center;
  line-height: 26px;
}
/* line 100, ../scss/schools_form.scss */
[id^=schools-create-school-form][data-mode=edit] > div #schools-form-actions > input:focus,
[id^=schools-entity-form][data-mode=edit] > div #schools-form-actions > input:focus {
  outline: none;
}
/* line 104, ../scss/schools_form.scss */
[id^=schools-create-school-form][data-mode=edit] > div #schools-form-actions > input[id^=edit-edit], [id^=schools-create-school-form][data-mode=edit] > div #schools-form-actions > input[value=Done],
[id^=schools-entity-form][data-mode=edit] > div #schools-form-actions > input[id^=edit-edit],
[id^=schools-entity-form][data-mode=edit] > div #schools-form-actions > input[value=Done] {
  color: #0A8BC2;
  background-color: #C4C4C4;
}
/* line 108, ../scss/schools_form.scss */
[id^=schools-create-school-form][data-mode=edit] > div #schools-form-actions > input[id^=edit-delete],
[id^=schools-entity-form][data-mode=edit] > div #schools-form-actions > input[id^=edit-delete] {
  color: #FFF;
  background-color: #FF4646;
}
/* line 114, ../scss/schools_form.scss */
[id^=schools-create-school-form][data-mode=edit] > div label > span.form-required,
[id^=schools-entity-form][data-mode=edit] > div label > span.form-required {
  display: none;
}
/* line 118, ../scss/schools_form.scss */
[id^=schools-create-school-form][data-mode=edit] > div input[type=text],
[id^=schools-entity-form][data-mode=edit] > div input[type=text] {
  background-color: #EDEDED;
  color: #8E8E8E;
  height: 44px;
  box-sizing: border-box;
  width: 559px;
  border: none;
  margin: 0;
}
/* line 126, ../scss/schools_form.scss */
[id^=schools-create-school-form][data-mode=edit] > div input[type=text]:focus,
[id^=schools-entity-form][data-mode=edit] > div input[type=text]:focus {
  outline: none;
}
